.comp_about_text {
    text-align: justify;
    line-height: 150%;
    color: #6f2a04;
    margin-bottom: 1.5em;
}

.card_link {
    color: #d46437;
    text-decoration: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.card_link:hover {
    color: #ff8c52;
}

.fusion {
    width: 50px;
    background-color: transparent;
    margin-top: -40px;
}