#footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

#footer p {
    align-self: flex-end;
    margin: 0 0;
}

.copilots {
    width: 70%;
    /* float: right; */
}

.copyright {
    /* text-align: center; */
    color: #784311;
}