#footer {
    display: flex;
    margin-top: 3em;
}

/* #footer p {
    align-self: flex-end;
    margin: 0 0;
} */

.copilots {
    width: 70%;
    /* height: 50%; */
    align-self: flex-end;
    float: right;
}

.credits {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 1em;
}

.credit_text {
    text-align: center;
    color: #784311;
    /* margin-bottom: 10px; */
}

.light {
    color: #c7afa2
}

.small {
    font-size: small;
}