#chapters {
    background-color: white;
    border-radius: 5px;
    margin: 2em;
    padding: 2em;
}

h1 {
    background-color: transparent;
    text-align: center;
    color: #784311;
}

.textBody {
    text-align: justify;
}