#chapters {
    background-color: white;
    border-radius: 5px;
    margin: 3em 3em 5em 3em;
    padding: 1em 0em 2em 0em;
    text-align: center;
}

h1 {
    background-color: transparent;
    text-align: center;
    color: #843409;
}

.comp_chapter_text {
    text-align: justify;
    line-height: 150%;
    color: #6f2a04;
    margin: 1.5em 3em;
}

.center {
    text-align: center;
}

.light {
    color: #c7afa2
}

/* .fusion {
    width: 50px;
    background-color: transparent;
    margin-top: -40px;
} */